<nav>
  <a href="/" style="text-decoration: none"><span class="logo">Plot</span></a>
  </div>
  <div class="user">
    <div class="profile-container">
      <span class="avatar"><i class="fa-solid fa-user"></i></span>
    </div>
    <a href="/logout" style="text-decoration: none;"><span class="logout">Logout</span></a>
  </div>
</nav>
