.wrapper {
  display: flex;
  position: absolute;
  right: 0;
  gap: 10px;
  top: 50%;
  transform: translateY(-30%);
}

.approve-button {
  font-family: 'Jaldi', sans-serif;
  color: #52616b;
  border-radius: 10px;
  border: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
}

.approve-buttons {
  position: relative;
}

.contribution {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contributions-card {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  color: #52616b;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding: 30px;
  border-radius: 15px;
}

.wrapper i:hover {
  color: rgb(141, 237, 141);
}

.approve-button:hover {
  background-color: rgb(141, 237, 141);
}
