body {
  background-color: #c9d6df;
}

// -----------NAVBAR STYLING-----------
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #52616b;
  height: 80px;
  width: 100%;
  margin-bottom: 40px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #52616b;
  color: white;
  font-weight: bold;
  position: relative;
}

.footer-back {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: #52616b;
  border: none;
  padding: 0px;
}

.footer-contributions {
  color: white;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  padding-left: 48px;
  font-family: "Caveat Brush", cursive;
  color: #ffffff;
  font-size: 43px;
}

.logout {
  font-size: 25px;
  color: #ffffff;
  padding-right: 20px;
}

.avatar {
  color: #ffffff;
  font-size: 20px;
}

.profile-container {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 0.5px white;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 5px;
}

.user {
  display: flex;
}
