.container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.card-display {
  position: relative;
  width: 80%;
  margin: 20px auto;
  background-color: white;
  color: #52616b;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
}

.content {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: normal;
}

.stamp {
  flex: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  background-color: #52616b;
}

.story-buttons {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.story-buttons button {
  background-color: #c9d6df;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px;
  width: 125px;
}
